/*
Theme Name: DUKE
Theme URI: https://wpbrigade.com/
Author: WPBrigade
Author URI: https://wpbrigade.com/
Description: Duke website
Version: 1.0.0
Tags: Duke's Driving and Logistics , Marketing
Template: Divi
*/
@import url(../Divi/style.css);
/*=========================================
=            General style            =
=========================================*/
/*
Colors
#195d77; blue
#3D3E3E; grey dark
#A3A5A7; grey Light
#F8991D; orange
#fde5e6; Fields red
*/
*{
  letter-spacing: 0;
}
html {
  height: 100%;
  background: #272727;
}
body{
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
  padding-bottom: 20px;
}
h3{
  font-size: 30px;
}
h4{
  font-size: 27px;
  font-weight: 500;
  padding-bottom: 15px;
}
h5{
  font-size: 27px;
}
h6{
  font-size: 19px;
}
.ie #main-content {
  background-color: #fff !important;
}
body.custom-background.ie {
  background-color: #272727;
}
.custom-header,
.custom-header .et_pb_fullwidth_header_container{
  min-height: calc(100vh - 100px - 120px) !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
body.ie .custom-header,
body.ie .custom-header .et_pb_fullwidth_header_container{
  min-height: inherit !important;
  height: calc(100vh - 100px - 120px) !important;
}
.et_mobile_device .et-pb-arrow-next,
.et_pb_slider:hover .et-pb-arrow-next{
  right:-15px;
}
.et_mobile_device .et-pb-arrow-prev,
.et_pb_slider:hover .et-pb-arrow-prev{
  left: -15px;
}
@media only screen and (max-width:980px){
  .custom-header,
  .custom-header .et_pb_fullwidth_header_container{
    min-height: calc(100vh - 70px - 120px) !important;
  }
  body.ie .custom-header,
  body.ie .custom-header .et_pb_fullwidth_header_container{
    min-height: inherit !important;
    height: calc(100vh - 70px - 120px) !important;
  }

  h1{
    font-size: 38px !important;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 26px;
  }
  h4{
    font-size: 26px;
  }
  h5{
    font-size: 26px;
  }
  h6{
    font-size: 16px;
  }
  p{
    font-size: 20px !important;
  }
  body, .et_pb_column_1_2 .et_quote_content blockquote cite, .et_pb_column_1_2 .et_link_content a.et_link_main_url, .et_pb_column_1_3 .et_quote_content blockquote cite, .et_pb_column_3_8 .et_quote_content blockquote cite, .et_pb_column_1_4 .et_quote_content blockquote cite, .et_pb_blog_grid .et_quote_content blockquote cite, .et_pb_column_1_3 .et_link_content a.et_link_main_url, .et_pb_column_3_8 .et_link_content a.et_link_main_url,
  .et_pb_column_1_4 .et_link_content a.et_link_main_url,
  .et_pb_blog_grid .et_link_content a.et_link_main_url, body .et_pb_bg_layout_light .et_pb_post p, body .et_pb_bg_layout_dark .et_pb_post p{
    font-size:20px !important;
  }
  .et_pb_section{
    padding-left: 20px;
    padding-right: 20px;
  }
  .et_pb_section .et_pb_row,
  .et_pb_section .et_pb_column,
  .et_pb_fullwidth_header .et_pb_fullwidth_header_container.center .header-content,
  .et_pb_fullwidth_header .et_pb_fullwidth_header_container{
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .et_pb_fullwidth_header .et_pb_fullwidth_header_container.center .header-content{
    margin-bottom: 35px;
  }
  .hero-sec{
    padding-left: 0;
    padding-right: 0;
  }
  .hero-sec .et_pb_fullwidth_header{
    padding-left: 20px;
    padding-right: 20px;
  }
  .et_pb_fullwidth_header .et_pb_fullwidth_header_container .et_pb_button_two{

  }

}
@media only screen and (min-width:642px) and (max-width:980px) {
  .custom-header,
  .custom-header .et_pb_fullwidth_header_container{
    min-height: calc(100vh - 70px - 120px) !important;
  }
  body.ie .custom-header,
  body.ie .custom-header .et_pb_fullwidth_header_container{
    min-height: inherit !important;
    height: calc(100vh - 70px - 120px) !important;
  }
}
@media only screen and (max-width:641px){
  .custom-header,
  .custom-header .et_pb_fullwidth_header_container{
    min-height: calc(100vh - 70px - 150px) !important;
  }
  body.ie .custom-header,
  body.ie .custom-header .et_pb_fullwidth_header_container{
    min-height: inherit !important;
    height: calc(100vh - 70px - 150px) !important;
  }
}
@media only screen and (max-width:380px){
  .custom-header,
  .custom-header .et_pb_fullwidth_header_container{
    min-height: calc(100vh - 70px - 180px) !important;
  }
  body.ie .custom-header,
  body.ie .custom-header .et_pb_fullwidth_header_container{
    min-height: inherit !important;
    height: calc(100vh - 70px - 180px) !important;
  }
}
.unorder-list{
  list-style: none;
  font-size: 0px;
  padding-bottom: 0 !important;
  text-align: left;
}
.unorder-list + h3{
  margin-top: 20px;
}
.unorder-list li{
  list-style: none;
  position: relative;
  width: 50%;
  display: inline-block;
  font-size: 25px;
  padding: 11px 30px;
  vertical-align: top;
}
.et_pb_all_tabs .unorder-list li{
  font-size: 20px;
}
.unorder-list li:after{
  position: absolute;
  top: 19px;
  left: 4px;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #3d3e3e;
  border-radius: 50%;
}
.mt40{
  padding-top: 40px !important;
}
/** number list **/
body .number-list{
  margin: 0;
  padding: 0;
}
.number-list li{
  list-style: none;
  position: relative;
  padding: 0 60px 0 60px;
  margin: 0 0 20px;
  min-height: 50px;
}

.number-list li .hexagon {
  position: absolute;
  width: 40px;
  height: 23.09px;
  background-color: #195d77;
  margin: 11.55px 0;
  left: 0;
  top: 0;
}
.number-list li .hexagon .number{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50% , -50%);
  -ms-transform: translate(-50% , -50%);
  transform: translate(-50% , -50%);
  font-size: 20px;
  line-height: 1;
  color: #fff;
}
.number-list li .hexagon:before,
.number-list li .hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.number-list li .hexagon:before {
  bottom: 100%;
  border-bottom: 11.55px solid #195d77;
}

.number-list li .hexagon:after {
  top: 100%;
  width: 0;
  border-top: 11.55px solid #195d77;
}
.number-list h2{
  line-height: 1.4;
  padding: 0;
}
.number-list.middle li{
  margin-left: 0;
  padding: 20px 60px 20px 60px;
}
.number-list.middle li .hexagon{
  top: 10px;
}
@media only screen and (max-width:980px){
  .unorder-list li{
    font-size: 20px;
  }
  .number-list li{
    padding-right: 0;
  }
}
@media only screen and (max-width:556px){
  .number-list li,
  .number-list.middle li{
    margin-bottom: 20px;
    padding-right: 0;
  }
  .number-list li .hexagon:before,
  .number-list li .hexagon:after{
    left: 0;
  }
  .number-list.middle li{
    padding-right: 0 !important;
  }
  .et_pb_tab_content h3{
    font-size: 20px !important;
  }
  .unorder-list li{
    width: 100%;
  }
}
/** number list Ends**/
/** tabs **/
.et_pb_toggle_open .et_pb_toggle_title,
.et_pb_toggle_open h5.et_pb_toggle_title{
  color: #195d77;
}
.et_pb_toggle_close .et_pb_toggle_title,
.et_pb_toggle_close h5.et_pb_toggle_title{
  color: #195d77;
}
.et_pb_accordion_0 .et_pb_toggle_title:before{
  display: none;
}
.et_pb_accordion_0.et_pb_accordion .et_pb_accordion_item{
  border-width: 0 !important;
}
.et_pb_toggle_open{
  background-color: #f4f4f4;
}
.et_pb_toggle_content{
  padding-bottom: 20px;
}
.et_pb_tab_content h3{
  line-height: 1.2;
  margin-bottom: 20px;
}
.et_pb_tabs_controls li{
  display: table-cell;
  width: 1%;
  text-align: center;
  float: none;
  vertical-align: middle;
}
.et_pb_tabs_controls li a{
  padding: 11px 30px;
  display: block;
  font-size: 25px;
  line-height: 1.4 !important;
  font-weight: 500;
}
.et_pb_all_tabs .mobile-trigger{
  display: none;
}
@media only screen and (min-width:768px){
  .et_pb_tab_content{
    display: block !important;
  }
}
@media only screen and (max-width:767px){
  .et_pb_tabs_controls{
    display: none;
  }
  .et_pb_all_tabs .mobile-trigger{
    display: block;
    cursor: pointer;
    margin-left: -20px;
    margin-right: -20px;
    background-color: #3d3e3e;
    color: #fff;
    padding: 11px 30px;
    font-size: 25px;
    line-height: 1.4 !important;
    font-weight: 500;
  }
  .et_pb_all_tabs .mobile-trigger.active{
    background-color: #f8991D;
  }
  .et_pb_tabs{
    border: 0;
  }
  .et_pb_all_tabs .et_pb_tab{
    display: block !important;
    opacity: 1 !important;
  }
  .et_pb_fullwidth_header_0.et_pb_fullwidth_header .et_pb_fullwidth_header_subhead a{
    color: #fff !important;
  }
  .et_pb_tab{
    padding: 0 20px 0;
    border: 1px solid #d9d9d9;
    margin-top: 20px;
  }
  .et_pb_all_tabs .et_pb_tab:first-child{
    margin-top: 0;
  }

  .mobile-trigger + .et_pb_tab_content{
    display: none;
    padding-top: 24px;
    padding-bottom: 9px;
  }
  .et_pb_all_tabs .et_pb_tab:first-child .et_pb_tab_content{
    display: block;
  }
}
/** tabs Ends**/
/** accordions **/
.et_pb_toggle_open{
  padding-top: 24px;
  padding-bottom: 24px;
}
.et_pb_toggle_close {
  padding-bottom: 24px;
  padding-top: 24px;
  background-color: #f4f4f4;
}
/** accordions Ends**/
/** logo show case **/
.partner-logos{

}
.partner-logos .slick-dots{
  display: none !important;
}
.partner-logos .wpls-logo-showcase button{
  background-color: #195d77 !important;
  opacity: 1;
  width: 26px !important;
  height: 26px !important;
  border:1px solid #195d77 !important;
}
.partner-logos .wpls-logo-showcase button:active,
.partner-logos .wpls-logo-showcase button:hover{
  background-color: #f8991d !important;
  border:1px solid #f8991d !important;
}
/** logo show case Ends**/
/** et_pb_blurb **/
.et_pb_blurb .et_pb_image_wrap{

}
.et_pb_blurb .et_pb_image_wrap {
  position: relative;
  width: 78px;
  height: 45.03px;
  background-color: #195d77;
  margin: 22.52px 0;
}

.et_pb_blurb .et_pb_image_wrap:before,
.et_pb_blurb .et_pb_image_wrap:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 39px solid transparent;
  border-right: 39px solid transparent;
  left: 0;
}

.et_pb_blurb .et_pb_image_wrap:before {
  bottom: 100%;
  border-bottom: 22.52px solid #195d77;
}

.et_pb_blurb .et_pb_image_wrap:after {
  top: 100%;
  width: 0;
  border-top: 22.52px solid #195d77;
}
.et_pb_blurb .et_pb_image_wrap .et-pb-icon{
  position: absolute;
  left: 48%;
  top: 48%;
  -webkit-transform: translate(-50% , -50%);
  -ms-transform: translate(-50% , -50%);
  transform: translate(-50% , -50%);
}
.et_pb_blurb_container h4{
  font-size: 27px;
  font-weight: 500;
  padding-bottom: 15px;
}

/** et_pb_blurb Ends**/
.hexa-img-wrapper .et_pb_testimonial_portrait{
  margin-top: 8px;
}
/*.hexa-img-wrapper .et_pb_testimonial_portrait {
  position: relative;
  width: 100px !important;
  height: auto;
   height: 57.74px !important;
  margin: 28.87px 0;
  background-image: url(http://csshexagon.com/img/meow.jpg);
  background-size: auto 115.4701px;
  background-position: center;
  border-radius: 0; */
}

/* .hexa-img-wrapper .et_pb_testimonial_portrait .hexTop,
.hexa-img-wrapper .et_pb_testimonial_portrait .hexBottom {
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 14.64px;
} */

/*counter transform the bg image on the caps*/
.hexa-img-wrapper .et_pb_testimonial_portrait .hexTop:after,
.hexa-img-wrapper .et_pb_testimonial_portrait .hexBottom:after {
  /* content: ""; */
  position: absolute;
  width: 100px;
  height: 57.73502691896258px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexa-img-wrapper .et_pb_testimonial_portrait .hexTop {
  top: -35.3553px;
}

.hexa-img-wrapper .et_pb_testimonial_portrait .hexTop:after {
  background-position: center top;
}

.hexa-img-wrapper .et_pb_testimonial_portrait .hexBottom {
  bottom: -35.3553px;
}

.hexa-img-wrapper .et_pb_testimonial_portrait .hexBottom:after {
  background-position: center bottom;
}

.hexa-img-wrapper .et_pb_testimonial_portrait .hexagon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 57.7350px;
  z-index: 2;
  background: inherit;
}
.et_pb_testimonial_description{
  margin-left: 130px !important;
}
@media only screen and (max-width:767px){
  .et_pb_main_blurb_image{
    margin-bottom: 4px;
  }
}
/*=========================================
=            End of General style         =
=========================================*/
/*=========================================
=            main styling area            =
=========================================*/
/*=========================================
=            Home page            =
=========================================*/
/** header **/
#main-header{
  background:url('img/bee_house_pattern.jpg') repeat 0 bottom !important;
  background-color: #020202 !important;
}
body #top-menu li {
  font-weight: 500;
}
body #top-menu li a {
  letter-spacing: 0.0625em;
  font-weight: 500;
}
body #top-menu li:not(.phone-number) a {
  position: relative;
}

body #top-menu li:not(.phone-number) a:after {
  content: '';
  display: block;
  width: 0;
  border-bottom: 3px solid  #f8991D;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  bottom: 0;
}
body.home #top-menu li.contact-nav.current-menu-item>a {
  color: #fff;
}
body #top-menu li:not(.phone-number) a:hover {
  opacity: 1;
  color: #f8991D !important;
}

body #top-menu li:not(.phone-number) a:hover:after {
  width: 100%;
}
body.home #top-menu li.contact-nav.current-menu-item>a,
body.home .et-fixed-header #top-menu li.contact-nav.current-menu-item>a{
  color: #fff !important;
}
body.home #top-menu li.contact-nav.current-menu-item>a:hover,
body.home .et-fixed-header #top-menu li.contact-nav.current-menu-item>a:hover{
  color: #f8991d!important;
}
.mobile-nav-number{
  padding: 0 17.7px 0 20.7px !important;
  border: 2px solid #fff;
  display: inline-block;
  vertical-align: middle;
  line-height: 2.4;
  height: auto;
  letter-spacing: 0.0625em;
  color: #fff !important;
  -webkit-transition: all.3s linear;
  -o-transition: all.3s linear;
  transition: all.3s linear;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  font-size: 16px;
  white-space: nowrap;
  margin: 0;
  font-weight: 600;
  z-index: 999;
  background-color: transparent;
}
.mobile-nav-number:hover{
  color: #fff !important;
  background-color: #f8991D;
  border-color: #f8991D;
  opacity: 1;
}
#top-menu li.phone-number a {
  padding: 0 17.7px 0 20.7px !important;
  border: 3px solid #fff;
  display: inline-block;
  vertical-align: middle;
  line-height:2.4;
  height: auto;
  margin-left: 8px;
  letter-spacing: 0.0625em;
  color: #fff !important;
}

#top-menu li.phone-number:hover a {
  color: #fff !important;
  background-color: #f8991D;
  border-color: #f8991D;
  opacity: 1;
}
@media only screen and (min-width: 981px){
  .et_header_style_left #et-top-navigation,
  .et_header_style_split #et-top-navigation {
    padding:23px 0 !important;
  }
  .et_header_style_left #et-top-navigation nav>ul>li:not(.phone-number),
  .et_header_style_split #et-top-navigation nav>ul>li:not(.phone-number){
    position: relative;
    top: 4px;
  }
  .et_header_style_left #et-top-navigation nav>ul>li:not(.phone-number)>a,
  .et_header_style_split #et-top-navigation nav>ul>li:not(.phone-number)>a{
    padding-bottom: 20px !important;
  }
  body #top-menu li.mobile-only {
    display: none;
  }
}
@media only screen and (max-width: 980px){
  #main-header{
    height: 70px;
  }
  .et_header_style_left .logo_container {
    position: absolute;
    width: calc(100% - 32px);
    height: 100%;
  }
  .et_fixed_nav #main-header{
    position: fixed;
  }
  #main-header .container{
    width: 100%;
    height: 70px;

    padding-left: 16px;
    padding-right: 16px;
  }
  .mobile-nav-number{
    display: inline-block;
  }
  .et_header_style_left #et-top-navigation,
  .et_header_style_left .et-fixed-header #et-top-navigation{
    padding-top: 14px !important;
  }
  .et_mobile_menu .phone-number{
    display: none;
  }
  .mobile_nav .mobile_menu_bar:before{
    color: #fff;
    top: 6px;
  }
  .mobile_nav.opened .mobile_menu_bar:before{
    content:'M';
  }
  #mobile_menu{
    border-top:1px solid #3E3e3e;
    background-color: #000 !important;
  }
  #mobile_menu li a{
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
  }
  .mobile-nav-number span{
    display: none;
  }
}
@media only screen and (max-width:567px){
  .logo_container a:not(.mobile-nav-number){
    width: 40px;
    display: inline-block;
    height: 100%;
    top: 0;
    vertical-align: middle;
    overflow: hidden;
    text-align: left;
    position: relative;
  }
  .logo_container img#logo{
    max-width: inherit;
    width: 87px;
    left: 0;
    position: absolute;
    height: auto;
    max-height: inherit;
    top: 8px;
  }
}

/** header Ends**/
/** footer **/
#footer-info{
  width: 100%;
  text-align: center;
}

#footer-info a,
#footer-info span{
  display: inline-block;
  margin: 0 10px;
}
#footer-info span.phone a{
  font-weight: normal;
}
#footer-bottom .et-social-icon a:hover{
  color: #f8991D;
  opacity: 1;
}
#footer-bottom .container{
  width: 100%;
}
.et_pb_toggle .et_pb_toggle_title, .et_pb_toggle h5.et_pb_toggle_title{
  padding-right: 0;
}
/** footer Ends**/
/** hero section **/
.hero-sec{

}
/** hero section Ends**/
/** contact us section **/
#contact-us{
  overflow: hidden;
}
#contact-us .gfield_label{
  display: none;
}
#contact-us .gform_wrapper .top_label .gfield_label,
#contact-us .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
  display: none;
}
#contact-us .gform_wrapper .ginput_container{
  margin-top: 0 !important;
}
/*** FIELD STYLING ***/
#contact-us input[type="text"],
#contact-us textarea {
  background: #eee;
  border: none;
  border-radius: 0;
  color: #4e4e4e !important;
  padding: 12px 15px!important;
  font-size: 20px;
}
/*** BUTTON STYLING ***/
#contact-us .gform_wrapper .gform_footer{
  text-align: center;
}
#contact-us .gform_wrapper .gform_footer input.button {
  border-color: #f8991d;
  padding: 0 17.7px 0 20.7px !important;
  border: 3px solid #f8991d;
  display: inline-block;
  vertical-align: middle;
  line-height: 2.3;
  font-size: 25px;
  height: auto;
  margin-left: 8px;
  letter-spacing: 0.0625em;
  color: #f8991d;
  background-color:#fff;
  text-transform: uppercase;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  max-width: 240px;
  min-width: 240px;
  font-weight: 500;
  font-family: "futura-pt",sans-serif;
}
@keyframes progress-indefinite-anim {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
#contact-us .gform_wrapper .gform_footer input.button:hover {
  border: 3px solid #f8991d !important;
  background-color: #f8991d !important;
  color: #fff;
  cursor: pointer;
}
#contact-us .gform_wrapper li{
  padding-top: 0 !important;
  margin-top: 30px;
}
#contact-us .gform_wrapper li.invalid input{
  background: #fde5e6;
  border-color: #fa2125;
}
#contact-us .gform_wrapper li.gfield.gfield_error,
#contact-us .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{
  background:none;
  border:0;
}
#contact-us .gform_wrapper li.gfield.gfield_error input{
  background-color: #fef7f7;
  border-bottom: 0px solid #790000;
}
#contact-us .gform_wrapper li.gfield.gfield_error .instruction.validation_message{
  font-size: 12px;
}
#contact-us .gform_wrapper li.gfield.gfield_error .gfield_description.validation_message{
  font-size: 12px;
  padding-top: 0;
  position: absolute;
}
#contact-us .gform_wrapper li.gfield_error.file-upload .gfield_description.validation_message{
  margin-top: 0;
  padding-right: 0;
  margin-left: 10px;
  width: auto;
}
#contact-us .gform_wrapper li.gfield.file-upload{
  width: auto;
  display: table;
  padding-bottom: 30px;
}
#contact-us .gform_wrapper li.gfield.file-upload .gfield_label{
  width: auto;
  display: inline-block;
  padding:0;
  cursor: pointer;
  position: relative;
  color: #3d3e3e !important;
  display: table-cell;
  white-space: nowrap;
}
#contact-us .gform_wrapper li.gfield.file-upload .gfield_label:after{
  position: absolute;
  bottom: -2px;
  left: 0;
  width: calc(100% - 11px);
  height: 2px;
  background-color: #3d3e3e;
  content: "";
}
#contact-us .gform_wrapper li.gfield.file-upload .gfield_label .gfield_required{
  color: #3d3e3e;
  margin-left: 0px;
}
#contact-us .gform_wrapper li.gfield.file-upload .ginput_container_fileupload{
  padding:0;
  display: inline-block;
  vertical-align: top;
  height: auto;
  margin-left: 0px;
  letter-spacing: 0.0625em;
  color: #f8991d;
  background-color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  position: relative;
  width: 0px;
  height: 63px;
  text-align: center;
  line-height: 0.4;
  height: auto;
}
#contact-us .gform_wrapper li.gfield.file-upload .ginput_container_fileupload .customMsg{
  position: absolute;
  left: 100%;
  top: 18px;
  font-size: 12px;
  white-space: nowrap;
  font-weight: bold;
  padding-left: 10px;
  text-transform: none;
  color: #3d3e3e;
  display: none;
}
#contact-us .gform_wrapper li.gfield.file-upload .gform_delete{
  display: none;
}
#contact-us .gform_wrapper li.gfield.file-upload.invalid .ginput_container_fileupload .customMsg{
  color: #bf0000;
}
#contact-us .gform_wrapper li.gfield.file-upload .ginput_container_fileupload .secondaryMsg{
  position: absolute;
  left: 0;
  top: 40px;
  font-size: 12px;
  padding-left: 10px;
  white-space: nowrap;
  font-weight: bold;
  text-transform: none;
  opacity: 0;
  z-index: -111;
  -webkit-transform: translateX(-90px);
  -ms-transform: translateX(-90px);
  transform: translateX(-90px);
  transition: all .3s linear;
}
#contact-us .gform_wrapper li.gfield.file-upload.populated.invalid .ginput_container_fileupload .secondaryMsg{
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  z-index: 1;
  color: #bf0000;
}
#contact-us .gform_wrapper li.gfield.file-upload.populated .ginput_container_fileupload .customMsg,
#contact-us .gform_wrapper li.gfield.invalid .ginput_container_fileupload .customMsg,
#contact-us .gform_wrapper li.gfield.file-upload:hover .ginput_container_fileupload .customMsg{
  opacity: 1;
}
#contact-us .gform_wrapper li.gfield.file-upload .ginput_container_fileupload input[type="file"]{
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#contact-us .gform_wrapper li.gfield.file-upload .ginput_container_fileupload .screen-reader-text{
  white-space: nowrap;
  font-size: 12px;
  position: relative;
  top: 13px;
  font-weight: bold;
  padding-left: 10px;
  text-transform: none;
  color: #3d3e3e;
  display: block;
}
#contact-us .gform_wrapper li.gfield.file-upload .ginput_container_fileupload .screen-reader-text + .validation_message{
  display: none;
}
.gform_delete{
  max-width: none;
}
#contact-us .gform_wrapper li.gfield.file-upload .ginput_preview{
  font-size: 12px;
  white-space: nowrap;
  font-weight: bold;
  padding-left: 10px;
  text-transform: none;
  color: #3d3e3e;
}
#contact-us .gform_wrapper li.gfield.file-upload .ginput_preview strong{
  margin-top: 20px;
  display: inline-block;
}
#contact-us .gform_wrapper li.gfield.file-upload .ginput_preview strong:before{
  content: '(';
  display: inline-block;
}
#contact-us .gform_wrapper li.gfield.file-upload .ginput_preview strong:after{
  content: ')';
  display: inline-block;
}
.gform_wrapper .validation_message,
.gform_wrapper .gfield_error .gfield_label{
  /* color: #790000; */
  color: #bf0000 !important;
}
.gform_wrapper div.validation_error{
  border: 0 !important;
  color: #bf0000 !important;
}
/*** BUTTON HOVER STYLING ***/
#contact-us .gform_wrapper .gform_footer input.button:hover {
  background: rgba(0, 0, 0, 0.05);
  border: 2px solid transparent;
}
body.et_pb_button_helper_class .et_pb_button, body.et_pb_button_helper_class .et_pb_module.et_pb_button, .woocommerce.et_pb_button_helper_class a.button.alt, .woocommerce-page.et_pb_button_helper_class a.button.alt, .woocommerce.et_pb_button_helper_class button.button.alt, .woocommerce-page.et_pb_button_helper_class button.button.alt, .woocommerce.et_pb_button_helper_class input.button.alt, .woocommerce-page.et_pb_button_helper_class input.button.alt,
.woocommerce.et_pb_button_helper_class #respond input#submit.alt, .woocommerce-page.et_pb_button_helper_class #respond input#submit.alt, .woocommerce.et_pb_button_helper_class #content input.button.alt, .woocommerce-page.et_pb_button_helper_class #content input.button.alt, .woocommerce.et_pb_button_helper_class a.button, .woocommerce-page.et_pb_button_helper_class a.button, .woocommerce.et_pb_button_helper_class button.button, .woocommerce-page.et_pb_button_helper_class button.button,
.woocommerce.et_pb_button_helper_class input.button, .woocommerce-page.et_pb_button_helper_class input.button, .woocommerce.et_pb_button_helper_class #respond input#submit, .woocommerce-page.et_pb_button_helper_class #respond input#submit, .woocommerce.et_pb_button_helper_class #content input.button, .woocommerce-page.et_pb_button_helper_class #content input.button{
  min-width:240px;
  font-weight: 500;
}
.et_pb_fullwidth_header .et_pb_fullwidth_header_container .header-content a.et_pb_button{
  margin-top: 35px;
}
.et_pb_fullwidth_header .et_pb_fullwidth_header_container .et_pb_button_two{
  margin-left: 25px;
}

#contact-us.contact-new .file-upload .ginput_preview{
  display: none;
}
@media only screen and (max-width:980px){
  body.et_pb_button_helper_class .et_pb_button, body.et_pb_button_helper_class .et_pb_module.et_pb_button, .woocommerce.et_pb_button_helper_class a.button.alt, .woocommerce-page.et_pb_button_helper_class a.button.alt, .woocommerce.et_pb_button_helper_class button.button.alt, .woocommerce-page.et_pb_button_helper_class button.button.alt, .woocommerce.et_pb_button_helper_class input.button.alt, .woocommerce-page.et_pb_button_helper_class input.button.alt,
  .woocommerce.et_pb_button_helper_class #respond input#submit.alt, .woocommerce-page.et_pb_button_helper_class #respond input#submit.alt, .woocommerce.et_pb_button_helper_class #content input.button.alt, .woocommerce-page.et_pb_button_helper_class #content input.button.alt, .woocommerce.et_pb_button_helper_class a.button, .woocommerce-page.et_pb_button_helper_class a.button, .woocommerce.et_pb_button_helper_class button.button, .woocommerce-page.et_pb_button_helper_class button.button,
  .woocommerce.et_pb_button_helper_class input.button, .woocommerce-page.et_pb_button_helper_class input.button, .woocommerce.et_pb_button_helper_class #respond input#submit, .woocommerce-page.et_pb_button_helper_class #respond input#submit, .woocommerce.et_pb_button_helper_class #content input.button, .woocommerce-page.et_pb_button_helper_class #content input.button{
    font-size: 20px !important;
  }
  .et_pb_more_button{
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
  .et_pb_fullwidth_header .et_pb_fullwidth_header_container .et_pb_button_two{
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
  #contact-us .gform_wrapper .gform_footer input.button{
    margin-bottom: 0;
  }

  .hexa-img-wrapper .et_pb_testimonial_portrait{
    float: none;
    margin:8px auto 30px;
  }
  .hexa-img-wrapper .et_pb_row{
    padding-top: 0;
  }
  .et_pb_testimonial_description{
    margin-left: 0 !important;
    text-align:center;
  }
}
@media only screen and (max-width:641px){
  #contact-us input[type="text"],
  #contact-us textarea{
    line-height: inherit !important;
  }
  #footer-info .sep1{
    display: none;
  }
  #footer-info .phone{
    display: block;
  }
  #footer-info .phone + br{
    display: none;
  }
}
@media only screen and (max-width:479px){
  #footer-info{
    font-size: 13px !important;
  }
}
@media only screen and (max-width:380px){
  #footer-info span.break{
    display: block;
  }
}
@media only screen and (max-width:567px){
  #contact-us .gform_wrapper li.gfield.file-upload{
    padding-bottom: 0;
    min-height: 72px;
  }
  #contact-us .gform_wrapper li.gfield.file-upload .gfield_label{
    display: inline-block;
  }
  #contact-us .gform_wrapper li.gfield.file-upload .ginput_container_fileupload{
    display: block;
    height: auto;
    padding: 0;
    margin: 0;
  }
  #contact-us .gform_wrapper li.gfield_error.file-upload .gfield_description.validation_message{
    line-height: 1.4;
    margin-top:8px;
    position: static;
    margin-left: 0;
  }
  #contact-us .gform_wrapper li.gfield_error.file-upload .gfield_description.validation_message{
    margin-top: 16px;
  }
  #contact-us .gform_wrapper li.gfield.file-upload .ginput_preview{
    padding-left: 0;
    margin-top: 8px;
  }
  #contact-us .gform_wrapper li.gfield.file-upload .ginput_container_fileupload .customMsg{
    top: -2px;
    padding-left: 0px;
  }
  #contact-us .gform_wrapper li.gfield.file-upload .ginput_container_fileupload .secondaryMsg{
    top: 20px;
    padding-left: 0px;
    position: static;
    margin-top: 15px;
    padding-top: 15px;
  }
  #contact-us .gform_wrapper li.gfield.file-upload .ginput_preview strong{
    margin-top: 6px;
  }
  #contact-us .gform_wrapper li.gfield.file-upload .ginput_container_fileupload .screen-reader-text{
    padding-left: 0;
  }

}
/** contact us section Ends**/
/*=========================================
=            End of Home page           =
=========================================*/
/*=========================================
=            code for about page            =
=========================================*/
.custom-slider .et_pb_slide_content img:first-child{
  float: left;
  margin: 0 30px 0;
  max-width: 30%;
}
.custom-slider .et_pb_slide_description{
  padding: 50px 0;
}
.custom-slider .et_pb_slide_content:after{
  content:'';
  display: block;
  clear: both;
}
.custom-slider .et_pb_slide_content .slide-content{
  overflow: hidden;
}
.custom-slider .et-pb-controllers{
  bottom: 10px;
}
.custom-slider .et-pb-controllers a{
  width: 10px;
  height: 10px;
  background-color: #195d77;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  border-radius: 50%;
}
.custom-slider .et-pb-controllers a.et-pb-active-control{
  background-color: #F8991D !important;
}
@media only screen and (max-width:567px){
  .custom-slider .et_pb_slide_description{
    padding-top: 0;
  }
  .custom-slider .et_pb_slide_content img:first-child{
    float: none;
    width: auto;
    display: block;
    margin: 0 auto 30px;
    max-width: 100%;
  }
  .custom-slider .et_pb_slide{
    padding-left: 0;
    padding-right: 0;
  }
  .custom-slider .et-pb-slider-arrows{
    display: none;
  }
}
/*=========================================
=    End of code for about page           =
=========================================*/
/*=========================================
=            Miscellenious style        =
=========================================*/
p:empty{
  display: none;
}
.error404 #main-content .container, .error404 #content-area, .error404 #left-area {
  padding: 0 !important;
  margin: 0 ;
  width: 100% !important;
  max-width: none;
}

.error404 #sidebar {
  display: none;
}

.error404 .et_pb_post:last-child {
  margin-bottom: 0;
}
.content-404{

}
.content-404 h2{
  line-height: 1 !important;
}
/*=========================================
=            End of Miscellenious style   =
=========================================*/
/*=========================================
=            End of main styling area     =
=========================================*/
